version: "3.7"

services:
  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "3000:3000"
    restart: always
    environment:
      - SERVER_MODE: prod
      - REACT_APP_KAKAO_JAVASCRIPT_KEY: "${REACT_APP_KAKAO_JAVASCRIPT_KEY}"
      - TZ: "ASIA/SEOUL"
