@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarpanch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");

@font-face {
  font-family: "bitbit";
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff"),
    url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2");
}

body,
html {
  margin: 0;
  height: 100%;
}

.App {
  min-height: 100vh;
  background-color: #323232;
}
/* 미디어쿼리로 너비 설정 */
/* @media (min-width: 650px) {
  .App {
  }
}

@media (max-width: 650px) {
  .App {
  }
} */
