@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarpanch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");

body {
  margin: 0;
}

.App {
  min-height: 100vh;
  background-color: #323232;
}
/* 미디어쿼리로 너비 설정 */
/* @media (min-width: 650px) {
  .App {
  }
}

@media (max-width: 650px) {
  .App {
  }
} */
